body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f5ff;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #09383b;
}
